<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кондаков Роман (ИТ-41)</title>
    <link href="~/Content/foundation.min.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
</head>
<body>
    <ul class="menu dropdown" data-dropdown-menu>
        <li>
            <a>Меню</a>
            <ul class="menu">
                <li>@Html.ActionLink("Посмотреть отзывы", "Reviews", "Review")</li>
                <li>@Html.ActionLink("Добавить новую книгу", "AddBook", "Book")</li>
                <li>@Html.ActionLink("Перейти на главную страницу", "Index", "Home")</li>
            </ul>
        </li>
        <li>
            <a>Сервис</a>
            <ul class="menu">
                <li>@Html.ActionLink("Контакты", "Contacts", "Book")</li>
                <li>@Html.ActionLink("О программе", "About", "Book")</li>
            </ul>
        </li>
        <li><a onclick="window.history.back(1); return false;">Назад</a></li>
    </ul>
    @RenderBody()
    <script type="text/javascript" src="~/Scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/foundation.min.js"></script>
    <script type="text/javascript" src="~/Scripts/what-input.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</body>
</html>