@model LabASPv2.Models.Review

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body callout">
<h2>Добавить Отзыв</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "form-error is-visible" })
    <div class="row">
        <div class="large-12 columns">
            <label>
                Ваше имя*
                @Html.ValidationMessageFor(model => model.AuthorName, "", new { @class = "form-error is-visible" })
                @Html.EditorFor(model => model.AuthorName)
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>
                Ваш отзыв*
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "form-error is-visible" })
                @Html.TextAreaFor(model => model.Text)
            </label>
        </div>
    </div>
    <div class="row" hidden>
        <div class="large-12 columns">
            <label>
                Id книги
                @Html.EditorFor(model => model.BookId)
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <input type="submit" class="button" value="Добавить"/>
        </div>
    </div>
}
</div>
<script type="text/javascript">
    window.onload = function () {
        $('form').on('submit', function () {
            return tryAddReview();
        });
    };
</script>